
.section-2 {
	margin: 90px 0 55px 0;
}
.section-2__device {
	width: 680px;
	float: left;
}

.section-2__device_wrapper {
	margin: 0 25px 60px 0;
	float: left;
}
.section-2__device_name {
	font-size: 0.87em;
	color: #333333;
	font-family: "HelveticaLight";
	margin: 10px 0 0 0;
	line-height: 15pt;
	text-align: center;
}
.section-2__title{
	font-size: 2.45em;
	color: #1e1e1e;
	font-family: "HelveticaUltraLight";
	letter-spacing:0.05em;
	line-height: 50px;
	width: 370px;
	float: right;
	display: block;
	margin: 0 0 0 90px;	
}
.section-2__text{
	font-size: 1em;
	color: #999999;
	font-family: "HelveticaLight";
	line-height: 26pt;
	width: 370px;
	float: right;
	display: block;
	margin: 20px 0 0 90px;	
}
.section-2__text_another-color {
	color: #2ac4f3;
}
